<!DOCTYPE html>
<html>
<head>
    <title><%= num %></title>
</head>
<body>
    <h1 id="a"><%= num %></h1>
    <p>EJS Welcome to <%= num %></p>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
  axios.get('/api/users/getUser')
  .then(function (response) {
    document.getElementById("a").innerHTML= response.data.num;
    console.log(response.data.num);
  })
  .catch(function (error) {
    console.log(error);
  });
</script>
</body>
</html>